<!DOCTYPE html>
<html>
<head>
  <title>Database Results</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
    }

    table {
      border-collapse: collapse;
      margin: auto;
    }

    th, td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>
  <h2>Retrieved Directors</h2>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Nation</th>
        <th>Platform ID</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{ result.username }}</td>
        <td>{{ result.name }}</td>
        <td>{{ result.surname }}</td>
        <td>{{ result.nation }}</td>
        <td>{{ result.platform_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="buttons">
    <button onclick="window.location.href = 'dbm_operations';">Return to Main</button>
    <button onclick="window.location.href = '/';">Logout</button>
  </div>
</body>
</html>
